@charset "UTF-8";

body
{
    background: #222;
    color: darkgray;
    text-align: center;
    font-family: monospace;
    font-size: 20px
}

.Select-value
{
    background: gray;
    color: black;
}